:root {
  --background: white;

  /* text */
  --textColorPrimary: black;
  --textColorSecondary: color(var(--textColorPrimary) a(70%));

  /* links */
  --linkColor: blue;
  --linkColorHov: var(--textColorPrimary);
}
