:root {
  --centering: {
    margin-left: auto;
    margin-right: auto;
  };

  --appContainer: {
    @apply --centering;

    max-width: 980px;
    padding-left: 20px;
    padding-right: 20px;
  };

  --transition: {
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  };
}
