:root {
  /* breakpoints */
  @custom-media --medium-x (max-width: 724px);
  @custom-media --small-x (max-width: 564px);
  @custom-media --tiny-x (max-width: 400px);

  --indent: 20px;
  --indentMedium: 10px;
  --indentSmall: 5px;

  --centering: {
    margin-left: auto;
    margin-right: auto;
  };

  --appContainer: {
    @apply --centering;

    max-width: 980px;
    padding-left: var(--indent);
    padding-right: var(--indent);

    @media (--medium-x) {
      padding-left: var(--indentMedium);
      padding-right: var(--indentMedium);
    }

    @media (--small-x) {
      padding-left: var(--indentSmall);
      padding-right: var(--indentSmall);
    }
  };

  --transitionOpacity: {
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  };

  --transitionBackground: {
    transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  };
}
